<%- include("header") -%>

<div class="box" id="heading">
  <!-- <h1> <%= listTitle %> </h1> -->
  
  <form class="custom-select" name="customLists" action="/custom" method="post">
    <select class="select" name="lists"
  onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}else{this.form.submit()}"> 
      <option selected><%= listTitle %></option>
      <option value="customOption">[type a custom value]</option>
      <% customListNames.forEach(function(list){ %>
        <!-- add if for not showing current list -->
        <% if(list.name === listTitle || list.name === "Favicon.ico"){return;}  %>
        <option name="customList"><%= list.name %></option>
      <% }); %>
    </select><input class="select" name="newList" style="display:none;" disabled="disabled"
      onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
  </form>
</div>

<div class="box">
  <% newListItems.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input name="deleteItem" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
      <p><%=  item.name  %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>
</div>

<%- include("footer") -%>